@import _variables
@import _global

header
    background-color: red
    display: flex
    justify-content: space-between
    padding: 10px 20px
    section#header_logo img
        width: 50%
    section#header_nav
        display: flex
        align-items: center
        justify-content: center
        div#header_burger_button
            div.header_burger_button_bar
                width: 20px
                height: 2px
                background-color: $white
                border-radius: 2px
                margin: 4px 0
        nav
            display: none