@import _variables
@import _global
@import _keyframes

header
    display: flex
    justify-content: space-between
    position: sticky
    top: 0
    padding: 10px 20px
    background-color: $secondary_bg_color
    #header_logo
        width: 30px
        animation: header_logo 5s linear infinite
    #header_nav
        display: flex
        align-items: center
        justify-content: center
        .header_burger_button
            .header_burger_button_bar
                width: 25px
                height: 2px
                background-color: $white
                margin: 5px 0
                border-radius: 2px
                transition: all ease-in-out 0.3s
        .header_burger_button--active .header_burger_button_bar:nth-child(1)
            transform: translateY(7px) rotate(-45deg)
        .header_burger_button--active .header_burger_button_bar:nth-child(2)
            opacity: 0
        .header_burger_button--active .header_burger_button_bar:nth-child(3)
            transform: translateY(-7px) rotate(45deg)
        nav
            ul
                position: absolute
                padding: 0
                width: 100vw
                left: -53.5vh
                top: 5.5vh
                text-align: center
                background-color: $secondary_bg_color
                border-top: 2px solid $white
                transition: left 1s ease-in-out
            .ul--open
                left: 0
            li
                padding: 20px 0
                a
                    text-decoration: none
                    color: $white
main
    #home
        display: flex
        flex-direction: column
        align-items: center
        padding: 6vh 0
        .home_texts
            display: flex
            flex-direction: column
            align-items: center
            margin: 4.1vh 0
            h1
                font-size: 20px
            p
                text-align: center
                font-size: 15px
        #profile_photo
            width: 70vw
            margin: 4.1vh 0
    #presentation
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 2.7vh
        scroll-margin-top: 40px
        .presentation_texts
            text-align: center
            font-size: 15px
            padding: 20px
            padding-bottom: 20vh
            background-color: $orange
        #presentation_infos
            display: flex
            flex-direction: column
            align-items: center
            padding: 50px 10px
            width: 85vw
            margin-top: -15vh
            background-color: $secondary_bg_color
            border-radius: 10px
            img
                width: 100px
                border: 1px solid white
                border-radius: 100px
            h2
                font-size: 20px
                text-align: center
            h3
                text-decoration: underline 3px $orange
            p
                text-align: center
                margin: 0
            .career
                display: flex
                justify-content: center
                align-content: center
                .career_list
                    position: relative
                    margin: 0
                    &::before
                        content: ''
                        position: absolute
                        height: 100%
                        width: 0.5vw
                        background-color: $white
                    .career_item
                        display: flex
                        padding: 20px 0
                        &::before
                            content: ''
                            display: block
                            z-index: 1
                            width: 15px
                            height: 15px
                            margin-left: -2vw
                            border-radius: 50px
                            background-color: $orange
                        ul
                            padding: 0 10px
                            margin-top: -0.8vh
                            li
                                color: $white
                                &:first-child
                                    font-weight: bold