#computer_container
    #taskbar
        position: fixed
        bottom: 0
        display: flex
        align-items: center
        width: 100%
        background-color: #303030
        border-top: 1px solid #ffffff23
        .icon_windows
            width: 25px
            height: 25px
            padding: 5px
            margin: 10px
            border-radius: 5px
            transition: all ease-in-out 0.2s
        .icon_windows:hover
            background-color: #4d4d4d
            cursor: pointer
        .research
            display: flex
            align-items: center
            height: 4vh
            margin: 5px 0
            padding-right: 5.5vw
            background-color: #4d4d4d
            border-radius: 20px
            .icon_magnifying_glass
                width: 25px
                height: 25px
                margin-right: 0.5vw
                margin-left: 0.5vw
            p
                font-size: 14px
                color: white