.modal
    display: none
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto

    .modal-content
        background-color: #fefefe
        margin: 5% auto
        border: 1px solid #bebebe
        border-radius: 10px
        width: 80%
        height: 75vh

        nav
            display: flex
            align-items: center
            justify-content: space-between
            width: 100%
            height: 5vh
            background-color: #3a3a3a
            border-radius: 10px 10px 0px 0px

            #tabs
                display: flex
                .tab
                    display: flex
                    align-items: center
                    justify-content: space-between
                    padding: 0 5px 0 10px
                    margin-left: 0.5vw
                    margin-top: 1.1vh
                    background-color: #4b4b4b
                    border-bottom: 1px solid white
                    border-top-left-radius: 10px
                    border-top-right-radius: 10px
                    .tab_left
                        display: flex
                        align-items: center
                        img
                            width: 20px
                            height: 20px
                            margin-right: 0.5vw
                        p
                            font-size: 11.5px
                            letter-spacing: 0.5px
                            color: white
                    .cross_tab
                        padding: 5px 14px
                        border-radius: 5px
                        font-size: 11px
                        margin-left: 2vw
                        color: white
                        transition: all ease-in-out 0.1s
                    .cross_tab:hover
                        background-color: #585858
                        padding: 5px 14px
                        border-radius: 5px
                        cursor: pointer
                        font-size: 11px
                        margin-left: 2vw

            #btn_right
                display: flex
                .btn_right_cross
                    display: flex
                    align-content: center
                    justify-content: center
                    padding: 14px 20px
                    color: grey
                    font-size: 15px
                    border-top-right-radius: 10px
                    transition: all ease-in-out 0.2s
                .btn_right_cross:hover
                    background-color: red
                    color: white
                    cursor: pointer
                .btn_right_other
                    display: flex
                    align-content: center
                    justify-content: center
                    padding: 12px 20px
                    color: grey
                    font-size: 15px
                    transition: all ease-in-out 0.2s
                .btn_right_other:hover
                    background-color: #4b4b4b
                    color: white
                    cursor: pointer